//@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$jost: 'Jost',
	sans-serif;
$inter: 'Inter',
	sans-serif;

//Colors
$white: #ffffff;
$white-opacity8: rgba(255, 255, 255, 0.8);
$black: #000000;
$text: #232323;
$text-secondary: rgba(0, 0, 0, 0.65);
$bg-dark: #3E4757;
$helpers: #969696;
$dark-border: #9F9F9F;
$placeholder: #BFBFBF;
$grey: #C4C4C4;
$border: #E6E6E6;
$grey-light: #F5F5F5;
$bg-light: #FAFAFA;
$bg-grey: #F7F7F7;

$main: #F5DC44;
$main-hover: #ffcc00;
$green: #00B67A;
$green-dark: #0B8646;
$blue: #258CDC;
$blue-dark: #294D9C;
$blue-light: #6AAFE5;
$error: rgba(239, 84, 54, 1);
$pink: #FF8080;
$success: #7FC92E;

$scnd-txt: rgba(0, 0, 0, 0.65);

$warning: rgba(255, 179, 52, 1);
$link: rgba(37, 140, 220, 1);

$shadow: 0 12px 24px rgba(0, 0, 0, .08);
$shadowButton: 0px 5px 10px rgba(0, 0, 0, 0.05);

$radius: 3px;
$radius5: 5px;

$grid-breakpoints: (
	s: 576px,
	m: 768px,
	t: 992px,
	d: 1200px
);